.tableModal-fixed {
  display: flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 30vh;
  width: 50%;
  height: 500px;
  background-color: #ffffff;
  z-index: 100;
  overflow: hidden;
  border-radius: 8px;

  &-text {
    width: 100%;
    height: 56px;
    border: 1px solid #eaecf0;
  }

  &-lr {
    display: flex;
    flex-direction: column;
  }

  &-drawer {
    display: flex;
    justify-content: space-between;
    &_left {
    }

    &_right {
    }
  }
}
