@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("../public/assets/backgroud.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
